# Dependencias
node_modules/

# Builds
dist/
build/
.angular/
backend/generated/

# Entornos
.env
.env.local

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Coverage
coverage/
